# Blockchain Config
NEXT_PUBLIC_RPC_URL=http://127.0.0.1:8545
CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000

# Role Private Keys
MINISTRY_PRIVATE_KEY=0xYOUR_MINISTRY_ADMIN_PRIVATE_KEY_HERE
COLLEGE_PRIVATE_KEY=0xYOUR_COLLEGE_VERIFIER_PRIVATE_KEY_HERE

# Supabase Credentials
NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=your-anon-publishable-key
SUPABASE_SECRET_KEY=your-service-role-secret-key
